name: Deploy to GitHub Pages

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  pages:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Prepare public folder
        run: |
          mkdir -p public
          # Copy index.html and assets only
          cp index.html public/
          cp -r assets public/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
